@use "../general/variables" as *;
@use "../general/mixins" as *;

.test-carousel-container {
  display: grid;
  grid-template-areas: "left center right";
  justify-content: center;
  align-content: center;
  width: 50vw;
  height: 100vh;
  background-color: darkgray;
  margin-inline: auto;
  overflow-x: hidden;
}

.test-project-carousel {
    grid-area: center;
  display: flex;
  scroll-snap-type: x mandatory;
  list-style: none;
//  width: 25%;
}

.left-arrow {
    grid-area: left;
    background-color: darkgray;
    border: none;
    z-index: 1;
    img {
        width: 50%;
    }
}

.right-arrow {
    grid-area: right;
    background-color: transparent;
    border: none;
    z-index: 1;
    img {
        width: 50%;
    }
}

.test-project-carousel > .image-container {
  position: relative;
  width: 100%;
  flex: 0 0 auto;
  scroll-snap-align: center;
  transition: right 1s;
  right: 0%;

  img {
    width: 100%;
  }
}

.test-project-carousel > .image-container[data-right="1"] {
  right: 100%;
}

.test-project-carousel > .image-container[data-right="2"] {
    right: 200%;
}

//.test-project-carousel > .image-container[data-right] {
//    left: 100%;
//}



