@use "../general/variables" as *;
@use "../general/mixins" as *;

footer {
  background: $gradient-theme;

  .footer-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "logo ."
    "description form";
    gap: 3rem;

    margin-inline: auto;
    padding-block: 3rem;
//    padding-inline: 3rem;
    width: $container-width;

    .footer-logo {
      grid-area: logo;

      img {
        width: 3rem;
      }
    }

    .footer-info {
      grid-area: description;
      color: white;
      text-transform: uppercase;
      font-family: $ff;
      align-self: center;
      justify-self: center;
      font-size: $md-font;

      h2 {
        font-size: $md-font;
        line-height: 6rem;
        font-weight: bold;
      }

      p {
        font-weight: lighter;
        font-size: 1.5rem;
      }
    }

    .form {
      grid-area: form;
      justify-self: center;
      display: flex;
      width: 100%;


      form {
        display: flex;
        flex-direction: column;
        width: 70%;
        color: white;
        font-family: $ff;
        text-transform: uppercase;
        place-self: center;
        margin-inline: auto;
      }

      input[type=text] {
        background-color: transparent;
        border: none;
        border-bottom: 2px solid white;
        //        line-height: 0;
        //        width: 50%;
//        margin-bottom: 2rem;
        color: white;
      }

      input[type=submit] {
        background-color: $main-color;
        border: none;
        color: white;
        padding: 12px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        //        width: 50%;

      }
    }
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    margin-inline: auto;
    padding-block: 1rem;
    padding-inline: 3rem;
    border-top: 2px solid white;
    width: $container-width;


    .copyright {
      font-family: $ff;
      text-transform: capitalize;
      font-weight: 200;
      color: white;
    }

    .social-media {
      display: flex;
      gap: 2rem;
      align-self: center;

      img {
        width: 2rem;
        height: 2rem;
      }
    }
  }

  @media screen and (max-width: $sm-breakpoint) {
    .footer-wrapper {
      grid-template-areas:
    "logo ."
    "description description"
    "form form";
    }
    .footer-wrapper .footer-info {
      h2 {
        text-align: center;
      }

      p {
        width: 100%;
      }
    }
    .footer-wrapper .form {
      form {
        width: 100%;
      }
    }
    .footer-bottom {
      flex-direction: column;
      gap: 1rem;
      text-align: center;
    }
  }
}