@use "../general/variables" as *;
@use "../general/mixins" as *;


.navbar {
  width: $container-width;
  display: flex;
  margin-inline: auto;
  justify-content: space-between;
  align-items: center;

  .mobile-nav-toggle {
    display: none;
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0.5rem;
    z-index: 1;
    top: 15px;
  }

  .prim-nav .nav-link-list {
    display: flex;
    gap: 3rem;
    color: white;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    list-style: none;
  }

  a {
    text-decoration: none;
    color: white;
    &:visited {
      color: inherit;
    }
  }


}

.visually-hidden {
  visibility: hidden;
}

@media screen and (max-width: $sm-breakpoint) {
  .navbar {
    position: relative;

    .mobile-nav-toggle {
      display: block;
    }

    .prim-nav {
      display: none;
      position: absolute;
      inset: 9rem 0.0005rem auto;
    }

    .prim-nav .nav-link-list {
      flex-direction: column;
      gap: 5rem;
      color: black;
      padding-block: $container-block;
      background-color: white;
      text-align: center;
    }

    .prim-nav[data-visible] {
      display: block;
    }
  }
}
