@use "../general/variables" as *;
@use "../general/mixins" as *;


.navbar {
  width: $container-width;
  display: flex;
  margin-inline: auto;
  justify-content: space-between;
  align-items: center;

  .mobile-nav-toggle {
    display: none;
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0.5rem;
    z-index: 1;
    top: 15px;
  }

  .prim-nav .nav-link-list {
    display: flex;
    gap: 3rem;
    color: white;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    list-style: none;
  }

  a {
    text-decoration: none;
    color: white;
    transition: top 2s linear 1s;


    &:visited {
      color: inherit;
    }

    &:hover {
      text-shadow: 1px 1px 2px white;
      top: 2rem;
    }
  }


}

.visually-hidden {
  visibility: hidden;
}

@media screen and (max-width: $sm-breakpoint) {
  .navbar {
    position: relative;

    .mobile-nav-toggle {
      display: block;
    }

    .prim-nav {
      position: absolute;
      inset: -1000% 0.0005rem auto;
      transition: top .5s;

    }

    .prim-nav .nav-link-list {
      flex-direction: column;
      gap: 5rem;
      color: black;
      padding-block: $container-block;
      background-color: white;
      text-align: center;
      box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    }

    .prim-nav[data-visible] {
      transition: top .5s;
      top: 9rem;
    }


    a:hover {
      text-shadow: 1px 1px 2px $main-color;
      top: 2rem;
    }
  }
}
