@use "../general/_variables.scss" as *;
@use "../general/_mixins.scss" as *;

.hero-section {
  background: $gradient-theme;
  padding-block: $container-block;

  .cta {
    width: $container-width;
    margin-inline: auto;
    margin-block: 15vh;
    p:nth-of-type(1) {
      margin-bottom: 1rem;
    }
  }

  .cta h1 {
    @include H1;
    line-height: 1;
    margin-bottom: $sm-font;
    text-align: left !important;

    span:nth-of-type(1) {
      color: $main-color;
    }

    span:nth-of-type(2) {
      font-weight: 300;
      line-height: 0;
      font-size: 1rem;
    }
  }

  .cta p {
    color: white;
    font-size: $md-font;
    font-family: $ff;
    font-weight: lighter;
    @media screen and (max-width: $sm-breakpoint) {
      font-size: $sm-font + 0.5;
    }
  }

  .cta .cta-buttons {
    margin-top: 1rem;

    button {
      font-size: 1.5rem;
      font-family: $ff;
      color: white;
      background-color: $main-color;
      border: none;
      text-transform: uppercase;
      padding-block: 0.5rem;
      padding-inline: 4rem;
    }

    a {
      text-decoration: none;
      &:visited {
        color: inherit;
      }
    }
  }

  .next-section-topic {
    @include next;
    color: white;
  }

  .next-section-topic .mouse {
    .mouse-scroll-wheel {
      animation: mouse 1.9s linear infinite;
    }
  }
}
