/* color variables */
$main-color: #1434a4;
$gradient-theme: linear-gradient(45deg, #000000, $main-color);

/* font sizes */
$sm-font: 1rem;
$md-font: 2rem;
$lg-font: 3rem;
$xl-font: 3.5rem;

/* spacing variables */
$row-padding: 8rem;
$item-padding: 8rem;
$container-block: 3rem;

/* media breakpoints */
$mobile-breakpoint: 375px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1440px;

/* container */
$container-width: min($desktop-breakpoint, 100% - $container-block);
