@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:wght@400;500;600;700&display=swap");

/* color variables */
$main-color: #1434a4;
$gradient-theme: linear-gradient(45deg, #000000, $main-color);

/* font family */
$ff: "Lato", sans-serif;

/* font sizes */
$sm-font: 1rem;
$md-font: $sm-font + 1;
$lg-font: $sm-font + 2;
$xl-font: $sm-font + 2.5;

/* spacing variables */
$container-block: 5rem;
$container-inline: auto;

/* media breakpoints MUI Specification*/
$xs-breakpoint: 600px;
$sm-breakpoint: $xs-breakpoint + 300;
$md-breakpoint: $xs-breakpoint + 600;

/* container */
$container-width: min($md-breakpoint, 100% - $container-block);
