@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:wght@400;500;600;700&display=swap");
/* color variables */
$main-color: #1434a4;
$gradient-theme: linear-gradient(45deg, #000000, $main-color);

/* font family */
$ff: "Lato", sans-serif;

/* font sizes */
$sm-font: 1rem;
$md-font: 2rem;
$lg-font: 3rem;
$xl-font: 3.5rem;

/* spacing variables */
$container-block: 3rem;
$container-inline: auto;

/* media breakpoints MUI Specification*/
$xs-breakpoint: 600px;
$sm-breakpoint: 900px;
$md-breakpoint: 1200px;

/* container */
$container-width: min($md-breakpoint, 100% - $container-block);
